.restaurant-navbar {
  width: 100%;
  overflow: hidden;
  padding: 20px 100px;
  background-color: #FC8A06;
}
.rn-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}
.rn-container > p{
  padding: 5px 20px;
  border-radius: 50px;
  cursor: pointer;
} 
.rn-active-nav-item{
  background-color: #03081F;
}