.footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    
}
.main-footer{
    width: 100%;
    padding: 0 100px;
    background-color: #D9D9D9;
    height: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.company-info{
    display: flex;
    flex-direction: column;
    width: 350px;
}
.company-info >img:nth-child(1){
    width: 268px;
}
.company-info > img:nth-child(2){
    margin: 30px 0;
}
.company-info > p{
    font-size: 15px;
}
.sub-footer{
    width: 100%;
    background-color: #03081F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    color: #fff;
    font-size: 14px;
    height: 60px;
}
.sf-links{
    display: flex;
}
.sf-links > p{
    margin-left: 50px;
}